<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <style>
    body {
      background: #f5f5f5;
    }

    .message-from {
      color: #CE5B78;
    }

    .message-to {
      color: #935529;
    }
  </style>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <#if admin??>
          <li class="nav-item">
            <a class="nav-link" href="/admin/userList">Admin Panel</a>
          </li>
        </#if>
        <li class="nav-item">
          <a class="nav-link" href="/settings">Settings</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/dialogs">Messages</a>
        </li>
      </ul>
    </div>

    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto">
        <font color="#dcf2ee"> FriendBets </font>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link">
            <font color="#dcf2ee">${user.username}</font>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Sign out</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container" style="margin-top: 15px">
    <#if my??>
      <p align="right" class="message-from">
        asdasdasdasld asd asdhasjfh;djsafh ajdsf hsj;dfh ajksf hajkdsf h
        asd;la ;la ksdjfk'sdj;askfaod skldfj a;sf sdkfj skdf
        adkf jsldkfj slkdfj
      </p>
      <#else>
        <p align="left" class="message-to">
          a;sdok as;dkasdaklfsjkhgsduf ghalksf joief sgisd sfkdSdf sdfj
          o;sidhg ldjf sdifhs;ldhfasdgh asfdgh dslnv;xjghasdgfsadfgdfh
          lasdkdkfgjldkfgldnb;zjgas'dfgjas;lfdg
        </p>
    </#if>


  <textarea readonly

 style="margin-top: 20px" width="550px">
    выапвапвапвапвас ывар ваофыв ыоп рожлмчлсмилоывж чсомрфжоыврмжосч м
    ыдсмтчжсмр ждфы дывл аыа
  </textarea>


  <frameset rows="80,*" cols="*">
   <frame src="/dialogs.html" name="dialogs" scrolling="yes" noresize>
   <frameset cols="80,*">
     <frame src="index.ftl" name="leftFrame" scrolling="no" noresize>
     <frame src="main.html" name="mainFrame">
   </frameset>
 </frameset>


  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>

</html>
